.loginBox {
  position: absolute;
  top: 116px;
  left: 50%;
  margin-left: -204.5px;
  .formBox {
    margin-top: 40px;
    text-align: center;
    .inputContainer {
      margin-bottom: 28px;
    }
  }
}
