.forgotUsername {
  margin-top: 40px;
  text-align: center;
  .text1 {
    font-size: 14px;
    color: #595655;
    text-align: left;
    width: 295px;
    line-height: 14px;
    margin: auto;
  }
  .text2 {
    font-size: 18px;
    font-weight: bold;
    color: #595655;
    margin: 30px 0;
  }
  .btns {
    display: flex;
    flex-direction: column;
    width: 156px;
    margin: auto;
    justify-content: center;
    align-items: center;
    .cancel {
      margin-top: 20px;
    }
  }
}

.box {
  margin-top: 124px;
}