.forgotUsername {
  margin-top: 40px;
  text-align: center;
  .text1 {
    width: 289px;
    margin: auto;
    color: #595655;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
  }
  .text2 {
    margin: 30px 0;
    color: #595655;
    font-weight: bold;
    font-size: 18px;
  }
  .btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 156px;
    margin: auto;
    .cancel {
      margin-top: 20px;
    }
  }
  .inputContainer {
    padding: 30px 0;
  }
  .verifyFolder {
    color: #595655;
    font-size: 12px;
    text-align: center;
  }
}

.box {
  top: 124px;
}
