.recoverUsername {
  margin-top: 20px;
  padding: 0 60px;
  text-align: center;
  .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background: url("../../assets/images/informationIcon.png") no-repeat 0 0;
    background-size: contain;
  }
  .mid {
    margin-top: 10px;
    color: #595655;
    font-size: 12px;
    text-align: left;
    .remind {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }
    .pwd {
      width: 294px;
      margin-bottom: 12px;
      line-height: 16px;
    }
    .icon {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      background: url("../../assets/images/informationIcon.png") no-repeat 0 0;
      background-size: contain;
    }
  }
  .footerTitle {
    margin-top: 30px;
    margin-bottom: 10px;
    color: #595655;
    font-weight: bold;
    font-size: 18px;
  }
  .text1 {
    width: 289px;
    margin: auto;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
  }
  .text2 {
    margin: 30px 0;
    color: #595655;
    font-weight: bold;
    font-size: 18px;
  }
  .cancel {
    color: white !important;
    background-color: transparent;
    border: 1px solid transparent;
    &:hover {
      color: #333 !important;
      background-color: white !important;
      border: 1px solid #707070 !important;
      border-radius: 20px 0 20px 20px !important;
    }
  }
  .btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 156px;
    margin: auto;
    margin-top: 10px;
  }
  .inputContainer {
    padding-top: 15px;
  }
  .verifyFolder {
    color: #595655;
    font-size: 12px;
    text-align: center;
  }
}
