.button {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  font-weight: bold;
  font-size: 16px;
  font-style: italic;
  line-height: 22px;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: 1px solid #707070;
  border-radius: 20px 0 20px 20px;
  cursor: pointer;
  transition: all 0.1s;
  user-select: none;
  touch-action: manipulation;
}

.slim-button {
  position: relative;
  display: inline-block;
  padding: 3px 20px;
  font-weight: bold;
  font-size: 16px;
  font-style: italic;
  line-height: 22px;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: 1px solid #707070;
  border-radius: 20px 0 20px 20px;
  cursor: pointer;
  transition: all 0.1s;
  user-select: none;
  touch-action: manipulation;
}

.button-default {
  color: #d1000d;
  background: #fff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  &:hover {
    color: #fff;
    background: #218389 0% 0% no-repeat padding-box;
    border: 1px solid #218389;
  }
}

.button-gray {
  color: #d1000d;
  background: #f3f3f3 0% 0% no-repeat padding-box;
  border: 1px solid #f3f3f3;
  &:hover {
    color: #8e1f1d;
    background: #eee 0% 0% no-repeat padding-box;
    border: 1px solid #eee;
  }
}

.button-red {
  color: #fff;
  background: #d1000d 0% 0% no-repeat padding-box;
  border: 1px solid #d2010e;
  &:hover {
    color: #fff;
    background: #ed999e 0% 0% no-repeat padding-box;
    border: 1px solid #ed999e;
  }
}

.button-disabled {
  color: #959392;
  background: #d6d6d6 0% 0% no-repeat padding-box;
  border: 1px solid #d6d6d6;
}

.button-cancel {
  color: #333;
  text-decoration: underline;
  background: #fff 0% 0% no-repeat padding-box;
  border: 1px solid #fff;
  &:hover {
    text-decoration: underline;
    background: #fff 0% 0% no-repeat padding-box;
    border: 1px solid #585655;
  }
}
