.logo {
  position: absolute;
  top: 10px;
  left: 15px;
  width: 138px;
  height: 106px;
  color: #595655;
  font-size: 16px;
  line-height: 106px;
  text-align: center;
  background: #fff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
}
