.footer {
  // position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  width: auto;
  height: 60px;
  color: #fff;
  font-size: 12px;
  background: #333 0% 0% no-repeat padding-box;
  .container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }
  .supprt {
    flex-direction: initial;
    align-items: center;
    justify-content: start;
    padding-left: 48px;
    .circle {
      display: inline-block;
      width: 32px;
      height: 32px;
      margin-right: 10px;
      color: #333;
      font-weight: bold;
      font-size: 25px;
      line-height: 32px;
      text-align: center;
      background-color: #fff;
      border: 1px solid #333;
      border-radius: 50%;
    }
  }
  .middle {
    color: #fff;
    text-align: center;
  }
  .text {
    line-height: 16px;
  }
}