.area {
  -moz-box-sizing: border-box;
  box-sizing: border-box; /* Firefox */
  -webkit-box-sizing: border-box; /* Safari */
  width: 478px;
  height: 132px;
  padding-top: 12px;
  text-indent: 12px;
  border-color: #999;
  border-radius: 4px;
}
.area::-webkit-input-placeholder {
  color: #bcbcbc;
}

.area::-moz-placeholder {
  /* Mozilla Firefox 19+ */

  color: #bcbcbc;
}

.area:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */

  color: #bcbcbc;
}

.area:-ms-input-placeholder {
  /* Internet Explorer 10-11 */

  color: #bcbcbc;
}
.area:focus {
  border-color: #464646;
  outline: none !important;
}
