@import "./assets//fonts/colgate/colgate.less";
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0; // overflow: hidden;
  font-family: "Colgate Ready";
}

button {
  border: none;
}

.Mui-selected,
.Mui-selected :hover {
  background-color: white !important
}