html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Colgate Ready";
}

button {
  border: none;
}

@font-face {
  font-weight: 200;
  font-family: "Colgate Ready";
  font-style: normal;
  src: url("./assets/fonts/ColgateReady/ColgateReady-Bold.otf")
    format("opentype");
}

@font-face {
  font-weight: 200;
  font-family: "Colgate Ready";
  font-style: italic;
  src: url("./assets/fonts/ColgateReady/ColgateReady-ExtraLightItalic.otf")
    format("opentype");
}

@font-face {
  font-weight: 300;
  font-family: "Colgate Ready";
  font-style: normal;
  src: url("./assets/fonts/ColgateReady/ColgateReady-Light.otf")
    format("opentype");
}

@font-face {
  font-weight: 300;
  font-family: "Colgate Ready";
  font-style: italic;
  src: url("./assets/fonts/ColgateReady/ColgateReady-Italic.otf")
    format("opentype");
}

@font-face {
  font-weight: normal;
  font-family: "Colgate Ready";
  font-style: normal;
  src: url("./assets/fonts/ColgateReady/ColgateReady-Regular.otf")
    format("opentype");
}

@font-face {
  font-weight: bold;
  font-family: "Colgate Ready";
  font-style: normal;
  src: url("./assets/fonts/ColgateReady/ColgateReady-Bold.otf")
    format("opentype");
}

@font-face {
  font-weight: 900;
  font-family: "Colgate Ready";
  font-style: normal;
  src: url("./assets/fonts/ColgateReady/ColgateReady-Heavy.otf")
    format("opentype");
}

@font-face {
  font-weight: 900;
  font-family: "Colgate Ready";
  font-style: italic;
  src: url("./assets/fonts/ColgateReady/ColgateReady-HeavyItalic.otf")
    format("opentype");
}
